################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bislerium/FileContentIndex/232dc07a-e370-4988-a001-f8679d4ff1f2.vsidx
