<div id="content-page" class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                    <div class="inner-page-title">
                        <h3 class="text-white">Admin</h3>
                        <p class="text-white">Admin Dashboard Page</p>
                    </div>
                </div>
            </div>
            <h1>Overall Data</h1>
            <div class="col-sm-12 col-lg-12">
               
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Total Blogs</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p> @ViewData["TotalBlogs"]</p>
                        
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Total UpVote</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p> @ViewData["TotalUpvotes"]</p>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Total DownVote</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>@ViewData["TotalDownvotes"] </p>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Total Comment</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p> @ViewData["TotalComments"]</p>

                    </div>
                </div>
            </div>

           
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                    <div class="inner-page-title">
                        <h3 class="text-white">Admin</h3>
                        <p class="text-white">Admin Dashboard Page</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Breadcrumb</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Use the items in order to programatically generate the breadcrumb links.use class </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                    <div class="inner-page-title">
                        <h3 class="text-white">Admin</h3>
                        <p class="text-white">Admin Dashboard Page</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Breadcrumb</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Use the items in order to programatically generate the breadcrumb links.use class </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                    <div class="inner-page-title">
                        <h3 class="text-white">Admin</h3>
                        <p class="text-white">Admin Dashboard Page</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Breadcrumb</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Use the items in order to programatically generate the breadcrumb links.use class </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card position-relative inner-page-bg bg-primary" style="height: 150px;">
                    <div class="inner-page-title">
                        <h3 class="text-white">Admin</h3>
                        <p class="text-white">Admin Dashboard Page</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Breadcrumb</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Use the items in order to programatically generate the breadcrumb links.use class </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>